#profile{
    color: white;
    text-align: center;
}
#footer {
    clear:both;
    /* padding:10px; */
    text-align: center;
    background-color: #000000;
    color:white;
}
#socmed{
    text-align: center;
    color:white;
}
.sospli{
    height: auto;
    width:5%;
}
#skill .skill{
    justify-content: center;
    align-items: center;
}
#skill .section-title {
    color:white !important;
    text-align: center !important;
    font-size: 32px !important;
    justify-content: center !important;
}
#skill .skill-item {
    margin-top: 20px !important;
}
#skill .skill-item h1 {
    font-size: 24px !important;
    color : white !important;
    margin-bottom: 5px;
    margin-top: 10px;
}
#skill .skill-bottom {
    justify-content: center !important;
}

#skill .skill-item img {
    /* margin-top: 20px !important; */
    width: 200px !important;
    height: auto !important;
}

@media screen and (max-width:1000px) {
    .block-1000-full>.column {
        -ms-flex: 0 0 100%;
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media screen and (max-width:900px) {
    .block-900-full>.column {
        -ms-flex: 0 0 100%;
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

html {
    font-size: 10px;
}

@media screen and (max-width:400px) {
    html {
        font-size: 9.444444444444444px;
    }
}

body {
    background: #0b0a15;
    font-family: "Martel", serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1.778;
    color: #ffffff;
    margin: 0;
    padding: 0;
    position: relative;
}

@media screen and (max-width:1200px) {
    .right-vert-line {
        right: 9rem;
    }
}

@media screen and (max-width:800px) {
    .section-intro::before {
        font-size: 24rem;
    }
    .right-vert-line {
        height: 16rem;
        right: 6.2rem;
    }
}

@media screen and (max-width:600px) {
    .subhead {
        font-size: 1.3rem;
    }
    .display-1 {
        font-size: 4.2rem;
    }
    .section-intro::before {
        font-size: 22rem;
    }
    .right-vert-line {
        height: 12rem;
        right: 5rem;
    }
}

@media screen and (max-width:500px) {
    .display-1 {
        font-size: 4rem;
    }
}

@media screen and (max-width:400px) {
    .section-intro {
        margin-bottom: 9.6rem;
    }
    .section-intro::before {
        font-size: 20rem;
    }
}

@media screen and (max-width:360px) {
    .display-1 {
        font-size: 3.6rem;
    }
    .section-intro::before {
        font-size: 18rem;
    }
}




.header-nav-wrap {
    max-width: 1400px;
    padding-left: 10px;
}

.header-nav {
    list-style: none;
    font-family: "Gothic A1", sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 6rem;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    margin: 0;
}

.header-nav a {
    color: rgba(255, 255, 255, 0.4);
}

.header-nav a:hover,
.header-nav a:focus {
    color: #ffffff !important;
}

.header-nav li {
    display: inline-block;
    padding-left: 0;
    margin: 0 1rem;
}


@media screen and (max-width:1700px) {
    .header-logo {
        left: 6rem;
    }
    .header-nav-wrap {
        max-width: none;
        width: 100%;
        padding-left: 13.2rem;
    }
    .header-content .btn {
        right: 6rem;
    }
}

@media screen and (max-width:1000px) {
    .header-content .btn {
        height: 4.8rem !important;
        line-height: 4.4rem !important;
    }
}

@media screen and (max-width:900px) {
    .s-header {
        top: 2rem;
        height: 8rem;
    }
    .header-logo img {
        width: 37px;
        height: 40px;
    }
    .header-content {
        display: block;
        background-color: #050505;
        height: auto;
        width: 100%;
        padding: 16rem 6rem 8rem;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        position: absolute;
        top: -2rem;
        left: 0;
    }
    .header-content .btn {
        margin-top: 4.8rem;
        -webkit-transform: translate3d(0, -2rem, 0);
        transform: translate3d(0, -2rem, 0);
        opacity: 0;
        visibility: hidden;
        position: static;
    }
    .header-nav-wrap {
        padding: 0;
        -webkit-transform: translate3d(0, -2rem, 0);
        transform: translate3d(0, -2rem, 0);
        opacity: 0;
        visibility: hidden;
    }
    .header-nav {
        display: block;
        width: 100%;
        padding: 0;
    }
    .header-nav a {
        display: block;
    }
    .header-nav li {
        border-top: 1px solid rgba(255, 255, 255, 0.06);
        display: block;
        margin: 0;
    }
    .header-nav li:last-child {
        border-bottom: 1px solid rgba(255, 255, 255, 0.06);
    }
    .header-menu-toggle {
        display: block;
    }
    .menu-is-open .header-content {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    .menu-is-open .header-content .btn {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
        visibility: visible;
        -webkit-transition-property: opacity, -webkit-transform;
        transition-property: opacity, -webkit-transform;
        transition-property: transform, opacity;
        transition-property: transform, opacity, -webkit-transform;
        -webkit-transition-duration: .5s;
        transition-duration: .5s;
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transition-delay: .7s;
        transition-delay: .7s;
    }
    .menu-is-open .header-nav-wrap {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
        visibility: visible;
        -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transition-delay: .6s;
        transition-delay: .6s;
    }
}

@media screen and (max-width:600px) {
    .header-logo {
        left: 4rem;
    }
    .header-menu-toggle {
        right: 3.2rem;
    }
    .header-content {
        padding: 16rem 4rem 8rem;
    }
    .header-content .btn {
        display: block;
    }
}


.s-hero {
    width: 100%;
    height: 100vh;
    min-height: 82rem;
    overflow: hidden;
    background-color: transparent;
    position: relative;
}

.s-hero::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, color-stop(10%, black), to(rgba(0, 0, 0, 0)));
    background: linear-gradient(90deg, black 10%, rgba(0, 0, 0, 0) 100%);
    opacity: .25;
}

.no-js .s-hero {
    background: #ffffff;
}

.hero-content {
    height: 100%;
    max-width: 1400px;
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
    padding-top: 20vh;
    padding-bottom: 14vh;
    position: relative;
}

.hero-content h1 {
    font-size: 7rem;
    font-weight: 400;
    line-height: 1.257;
    padding-right: 3.2rem;
    margin-top: 0;
    color: #ffffff;
    position: relative;
}

.hero-content h1::before {
    content: "";
    display: block;
    height: 2px;
    width: 8rem;
    background-color: #f9861a;
    position: absolute;
    left: -10.8rem;
    top: .55em;
}


@media screen and (max-width:1200px) {
    .s-about__section--profile::before {
        left: 75%;
    }
    .s-about__section--profile .profile-pic {
        width: 26vw;
        right: 0;
        left: auto;
    }
    .work-positions .column:nth-child(2n + 1) {
        padding-right: 30px;
    }
    .work-positions .column:nth-child(2n + 2) {
        padding-left: 30px;
    }
}

@media screen and (max-width:900px) {
    .work-positions .column:nth-child(n) {
        padding: 0 16px;
    }
    .position {
        padding-right: 8rem;
    }
}

@media screen and (max-width:800px) {
    .s-about__section--profile {
        padding-top: 20rem;
        padding-bottom: 0;
        min-height: 0;
    }
    .s-about__section--profile::before,
    .s-about__section--profile .profile-pic {
        display: none;
    }
    .position {
        padding-right: 0;
    }
}

@media screen and (max-width:600px) {
    .work-positions .column:nth-child(n) {
        padding: 0 10px;
    }
}

@media screen and (max-width:400px) {
    .work-positions .column:nth-child(n) {
        padding: 0;
    }
}

@media screen and (max-width:800px) {
    .s-cta {
        font-size: 2rem;
    }
    .cta-content {
        max-width: 600px;
    }
}

@media screen and (max-width:600px) {
    .s-cta {
        font-size: 1.8rem;
    }
}

p {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

.h3, h3 {
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}   

.h2, h2 {
    font-size: 50px;
    color: #ffffff;
    font-weight: 700;
    position: relative;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
}

h2.heading_section::after {
    width: 265px;
    height: 1px;
    background: #050000;
    content: "";
    justify-content: center;
    margin: 10px auto 0;
    position: relative;
    display: block;
}

h2.heading_section::before {
    width: 15px;
    height: 15px;
    content: "";
    display: block;
    background: #a92c38;
    margin: 0 auto;
    border-radius: 100%;
    position: absolute;
    bottom: -6px;
    left: 49.5%;
    z-index: 1;
}

.contact {
    background-image: url('../imgs/contact.png');
    background-size: cover;
}

.contact h2 {
    color: white;
    margin-bottom: 30px;
}

.contact .contact-form {
    width: 50%;
    margin: 0 auto;
}

.contact form input, .contact form textarea {
    width: 100%;
    outline: none;
    border: none;
    padding: 5px 10px;
}

.contact form input{
    border-radius: 50px;
    margin-bottom: 20px;
}

.contact form textarea {
    resize: none;
    height: 130px;
    border-radius: 25px;
    margin-bottom: 30px;
}

.contact form input[type="submit"] {
    width: 130px;
    height: 40px;
    padding: 0;
    line-height: 40px;
    background-color: #ef44f8;
    color: white;
    margin: 0 auto;
    display: block;
}

.dance_form_name h4 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    margin: 0;
    text-align: center;
    line-height: 272px;
    color: #fff;
    font-size: 50px;
    font-weight: 400;
}

.dance_form_name img {
    width: 100%;
    opacity: 0.8;
}

.dance_form_name {
    margin-bottom: 30px;
    border-radius: 25px;
    overflow: hidden;
    background: #000;
}

.opening_hour_blog {
    width: 765px;
    background: #fff;
    margin-top: 80px;
    padding: 45px 50px;
}

.opening_hour_blog h3 {
    font-weight: 400;
    color: #050000;
    font-size: 45px;
}

.opening_hour_blog ul {
    margin: 0;
    padding: 0;
}

.opening_hour_blog ul li {
    line-height: 42px;
    font-size: 22px;
    font-weight: 400;
}

.opening_hour_blog {
    width: 70%;
    background: #fff;
    margin-top: 80px;
    padding: 45px 50px;
    margin-left: 46%;
    z-index: 1;
    position: relative;
    margin-bottom: 80px;
}

.opening_hour_blog ul li {
    line-height: 42px;
    font-size: 22px;
    font-weight: 400;
}
.work-positions {
    margin-top: 2rem;
  }
  
  .work-positions .column:nth-child(2n + 1) {
    padding-right: 40px;
  }
  
  .work-positions .column:nth-child(2n + 2) {
    padding-left: 40px;
  }
  
  .position {
    padding-top: 3.6rem;
    padding-bottom: 3.2rem;
    border-top: 1px solid #b3c2c1;
  }
  
  .position__header {
    margin-bottom: 4rem;
  }
  
  .position__header h6 {
    font-family: "Martel", serif;
    font-size: large;
    line-height: 2.8rem;
    margin-top: 0;
    margin-bottom: .4rem;
  }
  
  .position__header h6 .position__co {
    margin-right: 2rem;
  }
  
  .position__header h6 .position__pos {
    display: inline-block;
    font-size: 1.8rem;
    text-transform: none;
    letter-spacing: 0;
  }
  
  .position__timeframe {
    font-family: "Gothic A1", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    color: #7e7e7e;
  }
  