
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d5ac12ca84.js"></script>

    <title>Jadwal</title>
  </head>
  <style>
    body {
    background-color: #141E30;
    color: aliceblue;
    }
    .table {
        color:antiquewhite !important;
    }
    </style>

  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#"><h3>Jadwal-Rapli</h1></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link ml-3" href="{% url 'story4:homeku' %}">Story 4</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>
<div class="container my-4">
    <div class="jumbotron" style="background-color: #141E30;">
        <h1 class="display-4">{{ post.nama_mata_kuliah }}</h1>
        <p class="lead">{{ post.tahun_semester }}</p>
        <p>{{ post.deskripsi_mata_kuliah }}</p>
        <hr class="my-4">
        <div class="row">
            <h4 class="col-10 col-md-3">Dosen : <span class="badge badge-dark">{{ post.nama_dosen }}</span></h4>
            <h4 class="col-10 col-md-3">Jumlah SKS : <span class="badge badge-dark">{{ post.jumlah_sks }} SKS</span></h4>
            <h4 class="col-10 col-md-5">Ruang : <span class="badge badge-dark">{{ post.ruang_kelas }}</span></h4>
        </div>
        <a class="btn btn-outline-light mt-4" href="{% url 'story5:liat_jadwal' %}" role="button">BACK</a>
    </div>
</div>


</div>
  </body>
</html>